.ant-form-item-control-wrapper{
  width: 100%;
}
.ant-time-picker, .ant-calendar-picker{
  width: 100%;
}
.ant-form-item-control{
  line-height: normal;
}


.input, .ant-form-inline .ant-form-item{
  margin: 4px 0;
}
/* .ant-form-inline .ant-form-item-with-help{
  margin: 4px 0 24px;
} */

.ant-btn-primary-custom{
  background-color: #002B49;
  color: #fff;
  width: 100%;
  margin: 12px 0;
  height: 36px;
  font-weight: bold;
}
@media (max-width: 1024px) {
  .ant-btn-primary-custom {
    /* margin-left: -25px;
    margin-right: -25px;
    width: calc(100% + 50px); */
    width: 100%;
    margin-top: 0;
    height: 52px;
    margin-bottom: -4px;
    border-radius: 0;
  }
}
@media (max-width: 768px) {
  .ant-btn-primary-custom {
    /* margin-left: -25px;
    margin-right: -25px;
    width: calc(100% + 50px); */
    width: 100%;
    margin-top: 24px;
    height: 52px;
    margin-bottom: -4px;
    border-radius: 0;
  }
}

.ant-btn.ant-btn-primary-custom:hover, .ant-btn.ant-btn-primary-custom:focus, .ant-btn.ant-btn-primary-custom:active, .ant-btn.ant-btn-primary-custom.active {
  background: #fff;
  text-decoration: none;
  border-color: #002B49;
  color: #002B49;
}

.ant-btn.disabled, .ant-btn[disabled], .ant-btn.disabled:hover, .ant-btn[disabled]:hover, .ant-btn.disabled:focus, .ant-btn[disabled]:focus, .ant-btn.disabled:active, .ant-btn[disabled]:active, .ant-btn.disabled.active, .ant-btn[disabled].active{
  color: rgba(0, 0, 0, .25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
  cursor: auto;
}

body {
  font-family: 'Helvetica Neue';
}

@media (max-width: 768px) {
  .ant-select-selection--single, .ant-input, .ant-time-picker-input, .ant-select-selection__rendered {
    height: 56px;
    line-height: 56px;
    font-size: 16px;
  }
  textarea.ant-input{
    line-height: 1.5;
  }
}

.ant-carousel .slick-dots{
  bottom: 37px;
  text-align: right;
  width: calc(100% - 110px);
}
@media (max-width: 1024px) {
  .ant-carousel .slick-dots{
    width: calc(100% - 10px);
  }
}
.ant-carousel .slick-dots li button{
  width: 10px;
  height: 10px;
  background-color: #333333;
  border: 2px solid #333333;
  border-radius: 50%;
  opacity: 1;
}

.ant-carousel .slick-dots li.slick-active button {
  background: #fff;
  width: 10px;
}

@media (min-width: 1024px) {
  .ant-modal {
    width: 600px !important;
  }
}

.ant-select-dropdown-menu-item{
  white-space: normal;
}

.ant-select-dropdown-menu-item-group-title{
  font-weight: bold;
  color: #000;
}
.ant-form-inline .ant-form-explain{
  position: relative;
  font-size: 12px;
}

.otherQuestion .ant-select-selection__placeholder{
  font-size: 12px;
}